<div class="row">
  <div class="col-xs-4">
    <%= link_to raw("<i class='icon-plus icon-white mr--5'></i> New Deity"), new_super_admin_deity_path, :class=>"btn btn-warning", :remote=>true %>
  </div><!-- /.col-xs-6 -->

  <div class="col-xs-8">

    <%= form_for Deity.new, :url => super_admin_deities_path, :method => :get, :remote=>true, :html=>{:class=>"pull-right", :style=>"m-bottom:0px;"} do |f| %>

    <div class="input-group">
      <input type="text" name="query" placeholder="Search Deities ..." class="form-control">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">Search!</button>
      </span>
    </div><!-- /input-group -->

    <%- end %>

  </div><!-- /.col-xs-6 -->
</div><!-- /.row -->


