<%# describes about each deity %>
<div class="box hoverable p-10 box-border-black">

  <div class="row">
    <div class="col-md-2 visible-md visible-lg" style="padding-left:0px;padding-right:0px">
      <%= link_to display_thumbnail(deity, :deity_picture), super_admin_deity_path(deity), :remote=>true %>
    </div>
    <div class="col-md-10">
      <%= link_to deity.display_name, super_admin_deity_path(deity),
          :remote=>true, :class=>"heading3" %><br/>

      <div class="content"><%= deity.temple.display_name %></div>

      <div class="mt-10 pull-right text-color-gray fs-11 visible-md visible-lg">
        <%= display_time(deity.created_at) %>
      </div>
  	</div>
  </div>

  <div class="cl"></div>

</div>

