<h3>You need to login before you continue:</h3>

<ul>
  <li><%= link_to "Login", "#" %></li>
  <li><%= link_to "Login as Trust Admin", trust_admin_sign_in_path %></li>
  <li><%= link_to "Login as Super Admin", super_admin_sign_in_path %></li>
</ul>