<div class="btn-group mt-10 mb-10" style="width:100%;">
  <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
    Choose a Temple <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% @temples.each do |temple| %>
      <li><%= link_to temple.name, super_admin_temple_path(temple), :remote=>true %></li>
    <% end %>
    <%= content_tag :li, link_to_next_page(@temples, 'Next Page', :remote => true) %>
    <%= content_tag :li, link_to_previous_page(@temples, 'Previous Page', :remote => true) %>
  </ul>
</div>