<div class="btn-group mt-10 mb-10" style="width:100%;">
  <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
    Choose a Trust Admin <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% @trust_admins.each do |ta| %>
      <li><%= link_to ta.name, super_admin_trust_admin_path(ta), :remote=>true %></li>
    <% end %>
    <%= content_tag :li, link_to_next_page(@trust_admins, 'Next Page', :remote => true) %>
    <%= content_tag :li, link_to_previous_page(@trust_admins, 'Previous Page', :remote => true) %>
  </ul>
</div>