<div class="row">
  <div class="col-xs-4">
    <%= link_to raw("<i class='icon-plus icon-white mr--5'></i> New Offering"), new_trust_admin_offering_path(deity_id: @deity.id), :class=>"btn btn-warning", :remote=>true %>
  </div><!-- /.col-xs-6 -->

  <div class="col-xs-8">

    <%= form_for Offering.new, :url => trust_admin_offerings_path(deity_id: @deity.id), :method => :get, :remote=>true, :html=>{:class=>"pull-right", :style=>"m-bottom:0px;"} do |f| %>

    <div class="input-group">
      <input type="text" name="query" placeholder="Search Offerings ..." class="form-control">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">Search!</button>
      </span>
    </div><!-- /input-group -->

    <%- end %>

  </div><!-- /.col-xs-6 -->
</div><!-- /.row -->


