.box .heading3 {
  font-size: 18px;
}

.box .content {
  font-size: 16px;
}

.box .heading1 {font-size: 30px;}
.box .heading2 {font-size: 22px;}
.box .heading3 {font-size: 20px;}
.box .content {font-size: 18px;}